.container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discoverContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.shopButton {
    width: 740px;
    height: 65px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: #E4E4E4;
    background-color: #A79FC8;
    border: none;
    border-radius: 10px;
}

.shopButton:hover {
    background-color: #8c7ec5;
    cursor: pointer;
}