.container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #AEC2DC;
}

.hoodieDisplay {
    display: flex;
    justify-content: center;
}

.contentContainer {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 30px;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 1;
}

.contentContainer.leaving {
    opacity: 0;
    transform: translateX(-10%); 
}

.contentContainer.entering {
    opacity: 0;
    transform: translateX(10%);
}

.arrow {
    width: 74px;
    height: 74px;
    align-self: center;
}

.hoodie {
    width: 40%;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}