@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #AEC2DC;
}

.contentContainer {
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 30px;
}

.arrow {
    width: 74px;
    height: 74px;
    align-self: center;
}

.hoodie {
    width: 40%;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}