.container {
    width: 100%;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;;
    background-color: #262626;
}

.footerContent {
    width: 80%;
    display: flex;
}

.quickLinks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: default;
}

.header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #E4E4E4;
}

.link {
    font-size: 14px;
    color: #E4E4E4;
}

.link:hover {
    color: white;
    cursor: pointer;
}

.socialMedia {
    display: flex;
    margin-left: auto;
    gap: 30px;
}

.socialMedia a {
    cursor: default;
}

.socialIcon {
    width: 48px;
    height: 48px;
}

.socialIcon:hover {
    cursor: pointer;
}