.footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    margin-top: auto;
}

.footerContent {
    width: 80%;
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
}

.quickLinks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: default;
}

.header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #E4E4E4;
}

.link {
    margin-left: 1px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #E4E4E4;
    text-decoration: none;
}

.link:hover {
    color: white;
    cursor: pointer;
}

.linkButton {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    display: flex;
    color: #E4E4E4;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

.linkButton:hover {
    color: white;
    cursor: pointer;
}

.socialMedia {
    display: flex;
    margin-left: auto;
    gap: 30px;
}

.socialMedia a {
    cursor: default;
}

.socialIcon {
    width: 48px;
    height: 48px;
}

.socialIcon:hover {
    cursor: pointer;
}