@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

body {
    overflow-y: scroll;
    background-color: #F0F0F0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #000000;
    margin: 0px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    color: #000000;
    margin: 0px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #000000;
    margin: 0px;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: #F0F0F0;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: #F0F0F0;
}