header {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 80%;
    display: flex;
}

.logo {
    width: 15%;
    padding-right: 30px;
}

.links {
    align-self: flex-end;
    display: flex;
    gap: 30px;
}

.links a:hover {
    color: gray;
    cursor: pointer;
}

.icons {
    margin-left: auto;
    display: flex;
    align-self: flex-end;
    gap: 30px;
}

.userIcon, .cartIcon {
    width: 30px;
    height: 30px;
}

.iconContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px; /* Set the same width and height as the icons */
    height: 30px;
    padding: 10%;
    transition: background-color 0.3s; /* Add a smooth transition */
}

.iconContainer:hover {
    background-color: lightgray;
    cursor: pointer;
}