.questionsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.questionComponent {
    display: flex;
    flex-direction: column;
}

.questionText {
    text-align: left;
}

.answerText {
    text-align: left;
    font-size: 22px;
}

.plusButton {
    float: right;
    cursor: pointer;
    border: none;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}

#header {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 22px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #F1E0CD;
    height: 40px;
}

#product, #returns, #shipping {
    background-color: #AEC2DC;
    margin: 20px 450px 20px 450px;
    padding: 20px;
    border-radius: 12px;
}

.questionComponent {
    margin-left: 450px;
    margin-right: 450px;
}

h2 {
    font-size: 30px;
}

hr {
    width: 1000px;
    border: 2px solid #AEC2DC;
}