.container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1E0CD;
}

.shippingContainer {
    display: flex;
    width: 80%;
}

.map {
    width: 30%;
}

.details {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.details p {
    width: 90%;
}

.header {
    display: flex;
    gap: 30px;
    align-items: center;
}

.delivery {
    width: 75px;
    aspect-ratio: 1;
}

